@media (max-width: 1100px) {
    .login {
        margin-right: 0;
    }
}
@media (max-width: 950px) {
    .header__top {
        padding-top: 30px;
    }

    .menu__btn {
        display: block;
    }
    .menu__list {
        transform: translateY(-150%);
        display: block;
        position: absolute;
        top: 0px;
        left: 0px;
        right: 0;
        padding-top: 90px;
        padding-bottom: 30px;
        width: 100%;
        background-color: #010203;
        text-align: center;
        transition: all 0.5s;
    }
    .menu__list.active {
        transform: translateY(0);
    }
    .menu__item {
        padding: 15px 0px;
    }
    .menu__link {
        display: block;
    }
    .phone,
    .login {
        z-index: 20;
    }
    .header__content {
        margin: 0 auto;
    }
    .header__description {
        justify-content: center;
    }
    .header {
        background-position: center right;
    }
}
@media (max-width: 630px) {
    .header__content {
        text-align: center;
    }
    .header__title {
        font-size: 34px;
        line-height: 30px;
    }
    .header__title span {
        font-size: 60px;
        line-height: 30px;
    }
    .header__text {
        justify-content: center;
        font-size: 18px;
    }
    .header__text p {
        padding: 0px 10px;
    }
    .header__btn {
        font-size: 18px;
        line-height: 24px;
        width: 60%;
    }
    .header__description {
        display: block;
    }
    .header__description-text {
        max-width: 100%;
        text-align: center;
    }
    .header__description-text + .header__description-text {
        margin-left: 0;
        margin-top: 20px;
    }
}
@media (max-width: 420px) {
    .header__top {
        flex-wrap: wrap;
    }
    .phone {
        width: 100%;
        text-align: center;
        margin-right: auto;
    }
    .menu,
    .login {
        order: -1;
    }
    .menu__list {
        padding-top: 140px;
    }
    .header__title {
        font-size: 28px;
    }
    .header__title span {
        font-size: 32px;
    }
    .header__btn {
        width: 100%;
        font-size: 16px;
    }
}
