@import "global";
@import "fonts";

.header {
    background-image: url(../images/header-bg.jpg);

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.header__inner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}
.header__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 75px 0px 30px;
}

.menu__list {
    display: flex;
    font-family: "sf-pro-display", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
}
.menu__item {
    margin-right: 30px;
}
.menu__link {
    transition: color 0.5s;
}
.menu__link:hover {
    color: rgba(203, 14, 14, 1);
}

.phone {
    margin-left: auto;
}
.login {
    margin-right: 134px;
    margin-left: 22px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.header__content {
    max-width: 600px;
}
.header__title {
    font-family: "spaceagecyrillic", sans-serif;
    color: white;
    font-size: 60px;
    line-height: 60px;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 25px;
}
.header__title span {
    font-size: 110px;
    line-height: 110px;
}

.header__text {
    font-family: "sf-pro-display", sans-serif;
    color: white;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
    flex-wrap: wrap;
}

.header__btn {
    font-family: "sf-pro-display", sans-serif;
    color: white;
    font-weight: 400;
    font-size: 24px;
    text-align: center;
    line-height: 28px;
    padding: 15px 10px 16px;
    text-transform: uppercase;
    border: 1px solid white;
    background-color: transparent;
    width: 100%;
}
.header__description {
    display: flex;
    justify-content: flex-end;
    margin-top: 40px;
    margin-bottom: 5%;
}
.header__description-text {
    font-family: "sf-pro-display", sans-serif;
    color: white;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    display: inline-block;
    max-width: 165px;
}
.header__description-text + .header__description-text {
    margin-left: 50px;
}
//start section ABOUT
.about {
    background-image: url(../images/about-bg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.about__item {
    display: flex;
    justify-content: space-between;
    padding-bottom: 150px;
    flex-wrap: wrap;
}
.about__item:nth-child(odd) {
    flex-direction: row-reverse;
}
.about__img {
    max-width: 100%;
}
.about__content {
    width: 600px;
    color: white;
}
.about__content-title {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    color: white;
    margin-bottom: 5px;
}
.about__content-subtitle {
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #036cca;
    text-transform: uppercase;
    margin-bottom: 30px;
}
.about__content-text {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}
.about__content-text p {
    width: 165px;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: white;
    font-style: normal;
}
.about__table {
    border-collapse: collapse;
    margin-bottom: 50px;
}
.about__table-caption {
    caption-side: bottom;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #e5e5e5;
    text-align: left;
}
.about__table-tr {
    border: 1px solid white;
    border-left: none;
    border-right: none;
    font-size: 16px;
    line-height: 19px;
    font-weight: 400;
}
.about__table-tr + .about__table-tr {
    font-size: 36px;
    line-height: 43px;
    font-weight: 700;
    text-align: center;
}
.about__table-td {
    padding: 10px 30px 10px 0;
}
.about__table-td span {
    font-size: 14px;
    line-height: 17px;
    display: block;
}
//end section ABOUT

//start section HOW-TO
.how-to {
    background-image: url(../images/howto-bg.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    padding-bottom: 100px;
}
.how-to__title {
    font-family: "spaceagecyrillic";
    color: white;
    font-size: 48px;
    line-height: 48px;
    font-weight: 400;
    padding: 100px 0;
}
.how-to__box {
    text-align: center;
    color: white;
}
.how-to__box circle,
.how-to__box text {
    transition: all 0.4s;
    cursor: pointer;
}
.how-to__box g:hover {
    r: 20px;
    fill: #036cca;
}
.how-to__box g:hover text {
    fill: #036cca;
    cursor: pointer;
    font-size: 36px;
}
g:hover circle {
    fill: #036cca;
    r: 20px;
    cursor: pointer;
}
foreignObject {
    text-align: left;
}
.how-to__box g:hover foreignObject {
    font-size: 21px;
    cursor: pointer;
    color: #036cca;
}
.how-to__box-list {
    display: none;
}
//end section HOW-TO

//start section TO_BOOK

.to-book {
    background-image: url(../images/to-book-bg.jpg);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}
.to-book__inner {
    display: flex;
    justify-content: space-between;
    padding: 100px 0;
}
.to-book__title {
    font-family: "spaceagecyrillic";
    color: white;
    font-size: 48px;
    line-height: 48px;
    font-weight: 400;
    padding-bottom: 100px;
}
.to-book__text {
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    color: white;
    width: 165px;
    margin-left: auto;
    margin-right: 52px;
}
.to-book__text + .to-book__text {
    margin-left: 0;
    margin-right: 0;
}
//end section TO_BOOK

//start section INFO
.info {
    background-image: url(../images/info-bg.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 100px;
}
.special-offer__inner {
    display: flex;
    justify-content: space-between;
}
.special-offer__item {
    width: 500px;
    color: #ffffff;
}
.special-offer__item-box {
    border: 1px solid #ffffff;
    padding: 40px 75px;
    margin-bottom: 25px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 400px;
}
.special-offer__text {
    color: #ffffff;
    font-size: 24px;
    line-height: 29px;
    width: 236px;
    margin: 0 auto;
}
.special-offer__text span {
    color: #cb0e0e;
}
.info__btn {
    width: 100%;
}
.special-offer__pice-old {
    color: #e5e5e5;
    font-size: 14px;
    line-height: 17px;
    font-weight: 400;
    margin-bottom: 16px;
    text-align: right;
    position: relative;
}
.special-offer__pice-old::after {
    content: "";
    position: absolute;
    background-color: #cb0e0e;
    transform: rotate(17.1deg);
    height: 1px;
    width: 68px;
    right: 0;
    top: 7px;
}
.special-offer__pice-new {
    color: #ffffff;
    font-size: 48px;
    font-weight: 58px;
}
.services {
    padding-bottom: 200px;
}
.services__inner {
    display: flex;
    justify-content: space-between;
    margin-bottom: 12px;
}
.services__box-list {
    width: 617px;
    margin-right: 83px;
}
.services__box-listtitle {
    font-size: 24px;
    line-height: 29px;
    font-weight: 400;
    margin-bottom: 25px;
}
.services__list {
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 25px;
    list-style: none;
}
.services__list-item {
    position: relative;
    padding-left: 36px;
}
.services__list-item::before {
    content: "";
    position: absolute;
    background-color: #ffffff;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    left: 0;
    top: 4px;
}
.services__description {
    color: #e5e5e5;
    font-size: 12px;
    line-height: 15px;
}
.services__buttons {
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.services__btn-first {
    position: relative;
}
.services__btn-first::after {
    content: "";
    position: absolute;
    background-image: url(../images/photomaster.png);
    background-repeat: no-repeat;
    right: 0;
    bottom: 41px;
    width: 192px;
    height: 150px;
}

.slider {
    text-align: center;
}
.slider__inner {
    margin-bottom: 50px;
    border: 1px solid #ffffff;
    padding: 100px 0;
}

.slider__description {
    font-family: "spaceagecyrillic";
    font-size: 24px;
    line-height: 30px;
    font-weight: 400;
}

.slider__box-img {
    margin: 0 auto;
}
.slider__arrow {
    cursor: pointer;
    position: absolute;
    top: 50%;
    z-index: 5;
}
.slider__arrow-left {
    left: 75px;
}
.slider__arrow-right {
    right: 75px;
}
//end section INFO

//start section CONTACTS
.contacts {
    background-image: url(../images/contacts-bg.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 100px;
}
.contacts__inner {
    display: flex;
    justify-content: space-between;
}

.contacts__box {
    width: 500px;
}
.contacts__title {
    padding-bottom: 46px;
}
.contacts__box-text {
    font-size: 24px;
    line-height: 29px;
    font-weight: 400;
    margin-bottom: 80px;
}
.contacts__form-input {
    width: 100%;
    background-color: transparent;
    border-left: none;
    border-right: none;
    border-top: none;
    color: #ffffff;
    border-bottom: 1px solid #fff;
    margin-bottom: 30px;
    padding: 20px 0;
    outline: none;
}

.contacts__form-input::placeholder {
    color: #ffffff;
    font-size: 14px;
    line-height: 17px;
}
.contacts__btn {
    width: 100%;
    margin-top: 40px;
}
.contacts__guarantees {
    width: 600px;
}
.guarantees__title {
    padding-bottom: 46px;
}
.contacts__guarantees-text {
    font-size: 24px;
    line-height: 29px;
    font-weight: 400;
}
.contacts__guarantees-img {
    display: flex;
    justify-content: flex-end;
    margin-left: auto;
}
//end section CONTACTS

//start footer
.footer {
    background-image: url(../images/footer-bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 100px 0 150px;
}
.footer__inner {
    display: flex;
    justify-content: flex-end;
}
.footer__text {
    width: 165px;
    margin-right: 50px;
    font-size: 16px;
    line-height: 19px;
}
.footer p + p {
    margin-top: 50px;
}
.footer__menu {
    width: 120px;
    font-size: 16px;
    line-height: 19px;
    margin-right: 95px;
}
.footer__menu-item,
.footer__links-item {
    margin-bottom: 20px;
}

.footer__links {
    width: 165px;
    font-size: 16px;
    line-height: 19px;
}
.footer__menu-link,
.footer__links-link {
    text-transform: uppercase;
    transition: color 0.5s;
}
.footer__menu-link:hover,
.footer__links-link:hover {
    color: red;
}
//end footer

.menu__btn {
    display: none;
    width: 40px;
    padding: 0px;
    position: relative;
    z-index: 20;
    border: 0;
}
.menu__btn span {
    display: block;
    height: 2px;
    background-color: white;
    position: relative;
}
.menu__btn span::before,
.menu__btn span::after {
    content: "";
    width: 40px;
    height: 2px;
    background-color: white;
    position: absolute;
}
.menu__btn span::before {
    top: -10px;
    left: 0;
}
.menu__btn span::after {
    top: 10px;
    left: 0;
}
@import "media";
